
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

:root{
  --icons-color: #00587C;
  --light-blue: #00A9E6;
  --medium-blue: #006BB7;
  --dark-blue: #005681;
}

code {
 font-family: 'Roboto', sans-serif;
}

